.img-size1{
  height: 120px;
  width: 200px;
  border-style: solid;
  border-width:2px;
}
.img-size2{
  height: 92px;
  width: 160px;
  border-style: solid;
  border-width:2px;
}
.img-size3{
  height: 80px;
  width: 140px;
  border-style: solid;
  border-width:2px;
}
.imgEffect{
  transition: 0.2s linear;
  transform-style: preserve-3d;

}

.imgEffect:hover{
  position: relative;
  top:-5px;
}
.letraCentrada{
  text-align: center;
  color: dodgerblue;

}
.marco{
  background-color:white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}

.tablero{
  background-color:springgreen;
  border-color: black;
  border-style: solid;
  border-width: 5px;
}
.sizePanelChat{
  height: 380px;
}
.playersOnline{
  padding-top: 20px;
  background-color: white;
  height: 180px;
}
.spacesInCard1{
  padding: 20px 18px 10px;
  text-align: center;
}
.spacesInCard2{
  padding: 20px 13px 10px;
  text-align: center;
}
.spacesInCard3{
  padding: 10px 10px 10px;
  text-align: center;
}

.width {
  width: 97%;
  max-width: 97%;
}

  /* Styles navbar */
.navbar-bg {
  background: #095dac
}

.navbar-txt-color{
  color: #ffffff
}

/* Styles button */
.btn-out {
  color: rgb(255, 255, 255)
}
.sizeChat{
  width: 470px;
  height: 620px;
  background-color: white;
  border-color: black;
  border-style: double;
  border-width: 5px;
  border-radius: 18px;
}
.sendMessage{
  color: dodgerblue;
  font-size: 50px;
  position: relative;
  right: 33px;
  bottom: 13px;

}
.playersText{
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: center;

}
.divider{
  height: 1%;
  background-color: black;
}
.backIcon{
  top:6px;
  padding-right: 5px;
  position: relative;
  font-size:30px ;
}
