<nav class="navbar navbar-bg justify-content-between">
    <a class="navbar-brand">
        <h5 class="navbar-txt-color"> <i class="material-icons backIcon" (click)="goSala()">arrow_back</i> <a style="color: white;text-align: center" routerLink="/sala" >SalaJuegos</a>
        </h5>

    </a>
</nav>

<!------------------------------------>
<div class="row clearfix" style="background: darkgray"  >
 <!--JUEGO DE MEMORIA-->
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <div class="letraCentrada">
      <h1 ><strong class="marco">Tablero</strong></h1>
    </div>
    <div class="container tablero "  >
      <div class="container">
        <div class="row clearfix ">
          <div *ngFor="let carta of cartas; index as i" >
            <div [ngClass]="{'spacesInCard1':this.tamano == '4x4','spacesInCard2':this.tamano == '5x5','spacesInCard3':this.tamano == '6x6'}" >
              <img *ngIf="myTurn" [ngClass]="{'img-size1':this.tamano == '4x4','img-size2':this.tamano == '5x5','img-size3':this.tamano == '6x6'}" src="{{carta.volteada ? getImage(carta.imagen) : imagenCarta}}" (click)="selectedCard(i)" class="imgEffect" id="card{{i}}}}">
              <img *ngIf="!myTurn" [ngClass]="{'img-size1':this.tamano == '4x4','img-size2':this.tamano == '5x5','img-size3':this.tamano == '6x6'}" src="{{carta.volteada ? getImage(carta.imagen) : imagenCarta}}" (click)="noIsTurn()">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--CHAT-->
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="letraCentrada">
      <h1><strong class="marco">Chat Virtual</strong></h1>
    </div>
    <div class="container sizeChat">
      <div class="container playersOnline">
        <p class="playersText">Jugador - {{this.jugador.length}}</p>
        <p class="playersText">Computador - {{this.pc.length}}</p>

      </div>
      <div class="divider">

      </div>
      <div class="container sizePanelChat">
        <div *ngFor="let mensaje of mensajes" >
          <p>Jugador: {{mensaje}}</p>
        </div>
      </div>
      <div class="container">
        <div class="row clearfix"  >
          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <input class="form-control"  placeholder="Escriba su mensaje..." type="text" style="border-color:black;border-style: solid" #Mensaje>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <button class="btn waves-effect waves-light " type="submit" (click)="sendMessage()">
              <i class="material-icons sendMessage">send</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
