.img-size{
    height: 120px;
    width: 120px;
    border-style: solid;
    border-width:2px;
  }
  IMG:hover{
    top:-9px;
    position: relative;
  }
  
  .tablero{
    padding: 5px;
    clear:both;
    text-align: center;
  
  }

  /* Styles navbar */
.navbar-bg {
  background: #095dac
}

.navbar-txt-color{
  color: #ffffff
}

/* Styles button */
.btn-out {
  color: rgb(255, 255, 255)
}