
/* Styles navbar */
.navbar-bg {
    background: #095dac
}

.navbar-txt-color{
    color: #ffffff
}

/* Styles button */
.btn-out {
    color: rgb(255, 255, 255)
}

.size {
    width: 20rem;
    max-width: 20rem;
}

.sizeItem {
    width: 9rem;
    max-width: 9rem; 
}

.card-size {
    max-width: 60rem;
}

.backdrop{ 
    background-color:rgba(0,0,0,0.6);     
    position:fixed;     
    top:0;     
    left:0;     
    width:100%;     
    height:100vh;     
}
