/* Styles navbar */
.navbar-bg {
    background: #095dac
}

.navbar-txt-color{
    color: #ffffff
}

/* Styles login card */
.margin-card {
    margin-top: 70px
}

.login-card {
    max-width: 30rem; 
    background: #ffffff
}

.container-card {
    max-width: 25rem;
}

/* Styles button */
.btn-facebook {
    max-width: 30rem;
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

