<!-- Navbar -->
<nav class="navbar navbar-bg justify-content-between">
    <a class="navbar-brand">
        <h5 class="navbar-txt-color">Sala de Juegos</h5>
    </a>
    <button class="btn btn-out" (click)="salir()">
        <h5>Salir</h5>        
    </button>
</nav>

<!-- Content -->
<div class="content">
    <div>
        <button class="mt-2 container btn btn-block btn-play" (click)="jugar()">
            Jugar
        </button>
    </div>
</div>


<div class="mt-2" id="tab" style="margin-right: 20%; margin-left: 20%">
    <table class="table table-bordered table-success">
        <thead>
            <tr>
                <th scope="col">
                    <br><br>
                </th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                <td>
                    <br><br>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>
                    <br><br>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>
                    <br><br>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>
                    <br><br>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>
                    <br><br>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>
                    <br><br>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>
                    <br><br>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>